.random-block
  background-color: #fff
  padding: 25px
  margin-bottom: 40px

.hidden
  visibility: hidden
  
h4
  margin-top: 10px
  margin-bottom: 20px
  text-align: center

.term
  font-weight: bold

.random-char-btn
  background-color: #25404c !important
  color: #fff !important
  display: block !important
  width: 100%
  margin: 0 auto
  &:hover
    background-color: #1b3542 !important
  &:focus
    box-shadow: none !important
